@page "/db"

<PageTitle>Database</PageTitle>
<h2>Database</h2>

<div class="bg-dark-subtle p-3 rounded-5 mt-5">
    <h3 class="text-center mb-3 text-black">Entities</h3>
    <div style="display: flex;" class="flex-row flex-wrap justify-content-around">
        <div class="text-center flex-column mb-3" style="display: flex; min-width: 20rem; min-height: 10rem;">
            <a href="/db/blocks">
                <button class="btn btn-lg btn-primary w-100 h-100" style="min-height: 8rem; align-content: center;">
                    <i class="bi bi-easel2-fill"></i>
                    <br />
                    Preset Blocks
                </button>
            </a>
        </div>
        <div class="text-center flex-column mb-3" style="display: flex; min-width: 20rem; min-height: 10rem;">
            <a href="/db/images">
                <button class="btn btn-lg btn-primary w-100 h-100" style="min-height: 8rem; align-content: center;">
                    <i class="bi bi-images"></i>
                    <br />
                    Images
                </button>
            </a>
        </div>
        <div class="text-center flex-column mb-3" style="display: flex; min-width: 20rem; min-height: 10rem;">
            <a href="/db/encounters">
                <button class="btn btn-lg btn-primary w-100 h-100" style="min-height: 8rem; align-content: center;">
                    <i class="bi bi-collection-fill"></i>
                    <br />
                    Encounters
                </button>
            </a>
        </div>
    </div>
</div>