@inherits LayoutComponentBase

<div class="page">
    <div class="topbar">
        <NavMenu />
    </div>

    <div class="container">
        <main class="mt-5">
            @Body
        </main>
    </div>
</div>
